$logo-del: 1290px; // ロゴ横を消す
$nav-del: 1260px; //メニュー余白変え 
$hmenu: 1200px;  //ハンバーガーメニュー 
$small: 1080px;  //bottom change
$smartphone: 767px; //スマホスタイル

@mixin logo-side {
  @media (max-width: ($logo-del)) {
    @content;
  }
}
@mixin padding {
  @media (max-width: ($nav-del)) {
    @content;
  }
}
@mixin hamburger {
  @media (max-width: ($hmenu)) {
    @content;
  }
}

@mixin bottomchange {
  @media(max-width: ($small)){
   @content;
  }
}

@mixin smartphone {
  @media (max-width: ($smartphone)) {
    @content;
  }
}


html {
  font-size: 100%;
  font-family: sans-serif;
  line-height: 1.15;
}

.header{
  display: flex;
  width: 80%;
  height: 80px;
  background-color:#FFF7EF;
  justify-content: space-between;
  &_search_container{
    padding: 30px 20px
  }
  h1{
    font-size:1.5rem;
    padding: 30px 20px  ;
  }
  
}

.aside{
  background-color: #FFF7EF;
  width: 20%;
  margin-left: auto;
}

.pictures{
  position: relative;
  display: flex;
}

.damysite{
  position: relative;
  display: flex;
  img{
    width: 80%;
    height: auto;
    position: absolute;
    z-index: 1;
  }
  p.front{
    position: absolute;
    z-index: 2;
    color: white;
    padding: 150px 60px;
    font-size: 3.0rem;
  }
}

.picture1{
  top: 380px;
  position: absolute;
  display: flex; 
  padding: 30px;
  img{
    width: 75%;
  }
  p.front{
    position: absolute;
    z-index: 2;
    color: white;
    padding: 20px 10px 20px 10px;
    font-size: 3.0rem;
    font-weight: bold;
  }
}

.picture2{
  top: 380px;
  position: absolute;
  display: flex; 
  right: 120px;
  padding: 30px;
  img{ 
    width: 75%;
  }
  p.front{
    position: absolute;
    z-index: 2;
    color: white;
    padding: 20px 10px 20px 10px;
    font-size: 3.0rem;
    font-weight: bold;
  }
}
