@charset "UTF-8";
.l-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-contents__left {
  width: 80%;
}

.l-contents__right {
  width: 20%;
  background-color: #F2EDE9;
}

.l-header {
  width: 100%;
  height: 150px;
  background-color: #FFF7EF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-header__left {
  width: 80%;
  margin-left: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-header__left a {
  color: #707070;
  font-size: 3.0rem;
}

.l-header__form {
  margin: 1.8rem;
}

.l-header__form__box {
  width: 18rem;
  height: 2rem;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  font-size: 1.6rem;
  font-weight: 500;
}

.l-header__form__button {
  width: 3rem;
  height: 2rem;
  background-color: #F2EDE9;
  border-radius: 0.6rem;
  border: solid 1px #707070;
  color: #707070;
  cursor: pointer;
}

.l-header__right {
  width: 20%;
  height: 150px;
  background-color: #F2EDE9;
}

.line__side {
  border-top: 4px solid white;
  width: 90px;
  margin-left: 20px;
}

.line__border {
  border-top: 2px solid white;
  width: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.l-main__top {
  height: 530px;
  background-image: url("../pictures/ダミーサイト.png");
  background-size: cover;
  background-position: center;
}

.l-main__top > a {
  color: white;
}

.l-main__top p {
  font-weight: bold;
  line-height: 530px;
  padding: 0px 30px;
  font-size: 3rem;
}

.l-main__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 30px;
}

.l-main__bottom__right {
  height: 1000px;
  width: 600px;
  background-image: url("../pictures/Eat in.png");
  background-size: cover;
  background-position: center;
  position: relative;
  margin-right: 10px;
}

.l-main__bottom__right > a {
  color: white;
}

.l-main__bottom__right p {
  font-weight: bold;
  line-height: 60px;
  padding: 15px;
}

.l-main__bottom__left {
  height: 1000px;
  width: 600px;
  background-image: url("../pictures/Take out.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.l-main__bottom__left > a {
  color: white;
  font-size: 2rem;
}

.l-main__bottom__left p {
  font-weight: bold;
  line-height: 60px;
  padding: 15px;
}

.l-main__bottom__box {
  position: absolute;
  bottom: 30px;
  margin: 10px;
}

.l-main__bottom__box__1, .l-main__bottom__box__2 {
  margin: 10px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.l-main__bottom__box h2 {
  padding-left: 20px;
  font-size: 2rem;
}

.l-main__under__map {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin: 0 0 30px 50px;
}

.l-main__under__map__box {
  position: absolute;
  z-index: 2;
  width: 65%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.l-main__under__map__box .title {
  padding: 10px;
  margin: 20px;
}

.l-main__under__map__box p {
  margin-top: 50px;
  line-height: 40px;
}

.l-main__under__map__box:hover {
  display: none;
}

.l-sidebar > a {
  display: block;
  font-size: 34px;
  font-weight: 600;
  color: #707070;
  padding-top: 82px;
  padding-bottom: 90px;
}

.l-sidebar ul li {
  padding-bottom: 15px;
  font-size: 24px;
}

.l-sidebar ul li > a {
  color: #707070;
}

.l-sidebar ul li ul {
  padding-top: 45px;
  padding-left: 20px;
}

.l-sidebar ul li ul li {
  font-size: 20px;
  padding-bottom: 30px;
}

.l-sidebar ul li ul li a {
  color: #707070;
}

.title {
  font-size: 3rem;
  color: white;
}

.l-footer {
  background-color: #957F6A;
  height: 150px;
}

.l-footer__center {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
}

.l-footer__center a {
  color: white;
}

.l-footer__center li {
  padding-top: 5px;
}

.l-footer__copyright {
  color: white;
  text-align: center;
  padding-top: 30px;
}

.l-archive__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.l-archive__top__img {
  height: 500px;
  width: auto;
  background-image: url("../hamburger/pictures/マスクグループ.png");
  background-size: cover;
  background-position: center;
}
/*# sourceMappingURL=style.css.map */